table {
  border-collapse: collapse;
  width: 100%;
}
.header{
  color: white;
  margin: 0px;
  padding: 16px;
  background-color: rgb(255, 133, 133);
}
.header th {
  font-size: 20px;
}

th, td {
  padding: 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.status {
  padding-left: 45px;
}

.order:hover {background-color:#f5f5f5;}

.done {
  color: #999;
  text-decoration: line-through;
}